@tailwind utilities;

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

.dark .nextra-container .nextra-sidebar ul button, .dark .nextra-container .nextra-sidebar ul li a, .dark .nextra-container .nextra-sidebar ul summary {
  color: #a8a7ae !important;
}

.dark .nextra-container .nextra-sidebar ul li.active>a, .dark .nextra-container .nextra-sidebar ul li.active>a:hover {
  color: hsl(var(--nextra-primary-hue) 100% 50%/var(--tw-text-opacity)) !important;
}

.dark .nextra-container .nextra-sidebar ul .active-anchor {
  color: #ffffff !important;
}

.dark body, .dark .nx-sticky{background-color: #1e1e1e !important;}

ul.nx-mt-6 {margin-top: 0rem!important;}
p.nx-mt-6 {margin-top: 1rem;}
a.nx-underline:hover{font-weight:medium!important;}
.nx-rounded-lg{border-radius: 8px!important;}
.nx-w-full a:hover{font-weight: 500!important;letter-spacing: -0.15px;}

html[class~=dark] .nextra-sidebar-menu .dark\:bg-dark{background-color:#171717;}

html[class~=dark] main a{color:#DADADA!important;}
html[class~=light] main a{color:#171717!important;}

/**Callouts**/
.nextra-callout em{font-style: normal; font-weight: bold;}
html[class~=dark] .nextra-callout p{color: #DADADA!important;}
html[class~=light] .nextra-callout p{color: #171717!important;}

html[class~=dark] .bg-blue-100 em{color: #4278f6!important; }
html[class~=light] .bg-blue-100 em{color: #1E3A8A!important;}
html[class~=dark] .bg-blue-100 {color: #4278f6!important;}

html[class~=dark] .bg-orange-50 em{color: #D3B4ED!important; }
html[class~=dark] .bg-orange-50{background-color: #be48fe30!important; border-color: #D3B4ED!important; color:#D3B4ED!important; }
html[class~=light] .bg-orange-50 em{color: #5F2D84!important;}
html[class~=light] .bg-orange-50{background-color: #efe5f7!important; border-color: #D3B4ED!important; color:#5F2D84!important; }
